@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}
* {
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background-color: #ffdee9;
    background-image: linear-gradient(45deg, #ffdee9 0%, #b5fffc 100%);
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
}
input {
    background: transparent;
}

i,
em {
    font-style: italic;
}
b,
strong {
    font-weight: 600;
}
/* * * *  Start Image Search * * * */
.container {
    width: min(calc(100vw - 500px), 100%);
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.search__inner {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr;
    gap: 32px;
    flex: 1;
    padding: 40px;
    background: #fff;
    box-shadow: 0px 2px 6px 0px rgba(28, 39, 49, 0.08);
    border-radius: 12px;
}
.search-inner__media {
    position: relative;
}
.search-inner__media::before {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    background: #fff;
    width: 200px;
    height: 24px;
}
.search-inner-media__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-upload__img {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.form-upload__label {
    padding: 50px 32px;
    border-radius: 8px;
    border: 1.5px dashed #9e9e9e;
    background: rgba(250, 250, 250, 0.7);
    transition: opacity 0.5s ease;
    cursor: pointer;
}
.form-upload__label:hover {
    opacity: 0.8;
}
.form-upload__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    font-size: 1.6rem;
    line-height: 200%;
}

.form-upload__bold {
    color: #136dc7;
}
.form-upload__img-pre {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.form-upload__img-pre::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    z-index: 1;
}
.form-upload__thumb {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.form-upload__close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    background-color: #d14343;
    border-radius: 50%;
    transition: opacity 0.5s ease;
    z-index: 2;
}
.form-upload__close:hover {
    opacity: 0.8;
}
@keyframes growProgressBar {
    0%,
    33% {
        --pgPercentage: 0;
    }
    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

div[role="progressbar"] {
    --size: 50px;
    --fg: #2563eb;
    --bg: #def;
    --pgPercentage: var(--value);
    position: absolute;
    inset: 0;
    margin: auto;
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: radial-gradient(
            closest-side,
            white 80%,
            transparent 0 99.9%,
            white 0
        ),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-size: 1.4rem;
    z-index: 2;
    color: var(--fg);
}

div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) "%";
}
.form-upload__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    background: #3370ff14;
    color: #2563eb;
    font-weight: 600;
    margin-left: auto;
    margin-top: 30px;
    transition: opacity 0.03s ease;
}
.form-upload__btn-icon {
    width: 20px;
    -webkit-filter: brightness(0) saturate(100%) invert(26%) sepia(99%)
        saturate(3084%) hue-rotate(218deg) brightness(98%) contrast(87%);
    filter: brightness(0) saturate(100%) invert(26%) sepia(99%) saturate(3084%)
        hue-rotate(218deg) brightness(98%) contrast(87%);
}
.form-upload__btn:hover {
    opacity: 0.8;
}
/* * * *  End Image Search * * * */
